:root {
    /* color scheme */
    --clr-purple: #4B2AAD;
    --clr-lt-purple: #F2F0FA;
    --clr-brown: #A86501;
    --clr-lt-brown: #FAF0E1;
    --clr-blue: #027CA1;
    --clr-lt-blue: #EAF4F7;

    --clr-black-text: #1A1715;
    --clr-brown-text: #5C5856;
    --clr-lt-brown-text: #9C8881;
    --clr-dark-brown-bg: #C2BDBA;
    --clr-brown-bg: #F5EFEB;
    --clr-dark-purple-bg: #392085;
    --clr-body-bg: #FDFBF9;
    --clr-white-bg: #FFFFFF;
    --clr-border-box: #CCCCCC;
    --clr-border-nav: #DBDAD8;

    /* font family */
    --ff-primary: 'Inter', system-ui, -apple-system, "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --ff-heading: 'Gupter', Georgia, "Times New Roman", Times, serif;
    
    /* font weight */
    --fw-normal: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;

    /* font size */
    --fs-300: 0.6rem;
    --fs-400: 0.833rem;
    --fs-500: 1rem;
    --fs-600: 1.22rem;
    --fs-700: 2rem;
    --fs-800: 3.125rem;
    --fs-900: 4.35rem;

    --fs-xsmall: var(--fs-300);
    --fs-small: var(--fs-400);
    --fs-regular: var(--fs-500);
    --fs-medium: var(--fs-600);
    --fs-large: var(--fs-700);
    --fs-xlarge: var(--fs-800);
    --fs-xxlarge: var(--fs-900);
}


/***** General Styling *****/
*{
    box-sizing: border-box;
}

body {
    font-size: var(--fs-regular);
    font-family: var(--ff-primary);
    background: var(--clr-body-bg);
    color: var(--clr-black-text);
    position: relative;
}

/* navigation bar */
.header {
    border-bottom: 1px solid var(--clr-border-nav);
    box-shadow: 0 0 0.5em 0 var(--clr-border-nav);
    background: var(--clr-body-bg);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.mobile-nav {
    display: none;
    font-size: 2.5rem;
}

.primary-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

#logo {
    text-decoration: none;
}

.primary-navigation ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.primary-navigation ul li a {
    text-decoration: none;
    color: var(--clr-black-text);
}

.primary-navigation ul li a:hover {
    text-decoration: underline;
    color: var(--clr-dark-purple-bg);
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.button-wrapper button:first-child {
    background: none;
}

.button-wrapper button:first-child:hover {
    background: var(--clr-brown-bg);
    border: 1px solid var(--clr-brown-bg);
    box-shadow: 0 1.125em 1em -1em var(--clr-brown-bg);
}

@media screen and (max-width: 1300px) {
    .navbar {
        padding-inline: min(3vh, 3rem);
    }
}

@media screen and (max-width: 1100px) {
    .primary-navigation ul,
    .button-wrapper button:nth-child(2) {
        display: none;
    }

    .mobile-nav {
        display: inline-flex;
        padding-right: 1rem;
        cursor: pointer;
    }
}

/* main - section heading */
.section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 10rem;
    padding: 0 14rem;
}

.section-heading h1 {
    text-align: center;
}

.section-heading p {
    text-align: center;
}

.section-heading button {
    font-size: var(--fs-medium);
}

.section-heading button:last-child {
    display: none;
}

@media screen and (max-width: 1160px) {
    .section-heading {
        padding-inline: min(3vh, 3rem);
    }
    
    .section-heading h1 {
        font-size: var(--fs-xlarge);
    }

    .section-heading button {
        font-size: var(--fs-regular);
    }
}

@media screen and (max-width: 780px) {
    .section-heading h1 {
        font-size: var(--fs-large);
    }
}

@media screen and (max-width: 670px) {
    .section-heading {
        width: 100vw;
    }
    
    .section-heading h1 {
        width: 100vw;
        padding: 0 1rem;
    }

    .section-heading p {
        width: 100vw;
        padding: 0 1rem;
    }

    .section-heading button:first-of-type {
        display: none;
    }

    .section-heading button:last-child {
        display: block;
        cursor: pointer;
        border-radius: 100vmax;
        border: 0;
        text-decoration: none;
        padding: 1em 0;
        width: 80vw;
        font-size: var(--fs-regular);
    }
}

/* main - section pricing */
.section-pricing {
    border: 1px solid var(--clr-border-box);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5em 0 var(--clr-border-box);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-bottom: 6rem;
    padding: 2rem 3rem;
}

.all-headers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column: 1 / 5;
}

.section-pricing-header {
    grid-column: 1 / 5;
    margin: 4rem 0 2rem 0;
}

.section-pricing-features-core {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}

.section-pricing-features-sell {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}

.section-pricing-features-market {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}

.section-pricing-features-email {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.8rem;
}

.section-pricing-features-extras {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}

.section-pricing-items {
    display: flex;
    gap: 0.5rem;
}

.section-pricing-core {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
}

.section-pricing-sell {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
    justify-items: center;
}

.section-pricing-market {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.6rem;
    justify-items: center;
}

.section-pricing-email {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;
    justify-items: center;
}

.section-pricing-extras {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.55rem;
    justify-items: center;
}

.section-pricing-extras-x {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
    justify-items: center;
}

.mover-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.shaker-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.earthquaker-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.subscription-link {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid var(--clr-lt-brown);
    box-shadow: 0 0.2rem 0.5rem 0 var(--clr-dark-brown-bg);
    padding: 2rem 5rem;
    margin: 4rem 0 2rem 0;
    border-radius: 1rem;
}

.subscription-link a {
    color: var(--clr-dark-purple-bg);
}

.subscription-link a:hover {
    color: var(--clr-blue);
}

@media screen and (max-width: 1200px) {
    .mobile-hid {
        display: none;
    }

    .section-pricing {
        justify-items: center;
        align-items: center;
        width: 100vw;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .all-headers {
        align-items: center;
        gap: 2rem;
    }

    .mover-header:hover {
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid var(--clr-blue);
        /* negative margin stops it from moving itself and other elements around it */
        margin-bottom: -11px;
    }

    .shaker-header:hover {
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid var(--clr-dark-purple-bg);
        /* negative margin stops it from moving itself and other elements around it */
        margin-bottom: -11px;
    }

    .earthquaker-header:hover {
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid var(--clr-brown);
        /* negative margin stops it from moving itself and other elements around it */
        margin-bottom: -11px;
    }

    .subscription-link {
        flex-direction: column;
        gap: 1rem;
        border: 1px solid var(--clr-lt-brown);
        box-shadow: 0 0.2rem 0.5rem 0 var(--clr-dark-brown-bg);
        padding: 1rem 2rem;
        margin: 2rem 0 2rem 0;
        border-radius: 1rem;
        width: 80vw;
    }
}

@media screen and (max-width: 1000px) {
    .section-pricing {
        display: grid;
        grid-template-rows: 1fr;
    }

    .all-headers {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 2.5rem;
        margin-bottom: 2rem;
    }

    .all-headers h2 {
        font-size: var(--fs-large);
    }

    .mover-header {
        gap: 0.5rem;
    }

    .shaker-header {
        gap: 0.5rem;
    }

    .earthquaker-header {
        gap: 0.5rem;
    }
}

/* main - video section */
.section-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--clr-brown-bg);
    box-shadow: 0 0.2rem 0.5rem 0 var(--clr-dark-brown-bg);
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin-bottom: 6rem;
    gap: 2.5rem;
}

.video iframe {
    border-radius: 1rem;
    width: 650px;
    height: 380px;
    box-shadow: 0 0.5rem 0.5rem 0 var(--clr-border-box);
}

.video-tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.video-tour h2 {
    line-height: 3.5rem;
}

.video-tour ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.video-tour li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1160px) {
    .section-video {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .video-tour h2 {
        font-size: var(--fs-large);
    }

    .checkmark-white {
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {
    .video iframe {
        width: 550px;
        height: 300px;
        margin: 0 1rem;
        box-shadow: 0 0.2rem 0.2rem 0 var(--clr-border-box);
    }
}

@media screen and (max-width: 625px) {
    .video-tour h2 {
        line-height: 2rem;
    }

    .video iframe {
        width: 400px;
        height: 250px;
        box-shadow: 0 0.5rem 0.5rem 0 var(--clr-border-box);
        border-radius: 0;
        width: 100vw;
    }

    .checkmark-white {
        padding: 10px;
    }
}

/* main- question section */
.section-question {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 0 14rem;
}

.section-question h2 {
    margin-bottom: 2rem;
}

.section-question p {
    margin-bottom: 6rem;
}

.section-question p a:hover {
    color: var(--clr-dark-purple-bg);
}

.section-question ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.section-question ul li {
    display: flex;
    justify-content: space-between;
}

.section-question ul li:hover {
    color: var(--clr-dark-purple-bg);
}

.section-question ul li span:first-child:hover {
    cursor: pointer;
    color: var(--clr-dark-purple-bg);
}

.section-question ul li span:first-child:hover + 
span:last-child {
    background: var(--clr-dark-purple-bg);
}

.section-question a {
    color: var(--clr-black-text);
}

@media screen and (max-width: 1160px) {
    .section-question h2 {
        font-size: var(--fs-large);
    }

    .section-question p {
        margin-bottom: 3rem;
    }

    .section-question ul {
        gap: 1rem;
    }

    .section-question ul li span {
        font-size: var(--fs-medium);
    }

    .bulletin {
        width: 0.4rem;
        height: 0.4rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .section-question {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 750px) {
    .section-question {
        padding: 0 7rem;
    }
}

@media screen and (max-width: 625px) {
    .section-question {
        padding: 0 3rem;
    }
    
    .section-question ul li {
        gap: 1em;
    }

    .bulletin {
        padding: 0.8rem;
    }
}

/***** Footer *****/
.footer {
    padding-top: 6rem;
    padding-bottom: 8rem;
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
    gap: 1.5rem;
}

.footer-links ul li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-links a {
    color: var(--clr-brown-text);
}

.footer-links a:hover {
    color: var(--clr-dark-purple-bg);
}

.copyright {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 3000px) {
    .footer {
        width: 100vw;
    }
    
    .footer-links {
        padding: 0 2rem;
        width: 100vw;
    }
}

@media screen and (max-width: 860px) {
    .footer-links ul {
        gap: 1rem;
    }

    .footer-links p {
        font-size: var(--fs-medium);
        cursor: pointer;
    }

    .footer-links p:hover {
        color: var(--clr-dark-purple-bg);
        text-decoration: underline;
    }

    .footer-links ul a {
        display: none;
    }
}


/***** Utility Classes *****/
/* background color */
.bg-white {
    background: var(--clr-white-bg);
}

.bg-brown {
    background: var(--clr-brown-bg);
}

.bg-lt-brown {
    background: var(--clr-lt-brown);
}

.bg-purple {
    background: var(--clr-purple);
}

.bg-lt-purple {
    background: var(--clr-lt-purple);
}

.bg-lt-blue {
    background: var(--clr-lt-blue);
}

/* text color */
.text-clr-brown {
    color: var(--clr-brown-text);
}

.text-clr-lt-brown {
    color: var(--clr-lt-brown-text);
}

.text-clr-white {
    color: var(--clr-white-bg);
}

/* accent color */
.clr-purple {
    color: var(--clr-purple);
}

.clr-lt-purple {
    color: var(--clr-lt-purple);
}

.clr-blue {
    color: var(--clr-blue);
}

.clr-lt-blue {
    color: var(--clr-lt-blue);
}

.clr-brown {
    color: var(--clr-brown);
}

.clr-lt-brown {
    color: var(--clr-lt-brown);
}

/* font family */
.ff-heading {
    font-family: var(--ff-heading);
}

/* font weight */
.fw-bolder { font-weight: var(--fw-bolder); }
.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regular { font-weight: var(--fw-normal); }

/* heading font changes */
.fs-xlarge-heading {
    font-size: var(--fs-xxlarge);
}

.fs-large-heading {
    font-size: var(--fs-xlarge);
}

.fs-medium-heading {
    font-size: var(--fs-large);
}

.fs-small-heading {
    font-size: var(--fs-medium);
}

/* text font size */
.fs-small-text {
    font-size: var(--fs-small);
}

/* container */
.container {
    max-width: 75rem;
    margin-inline: auto;
}

/* button */
.button {
    cursor: pointer;
    border-radius: 100vmax;
    border: 0;
    text-decoration: none;
    padding: 1em 2em;
    font-size: var(--fs-regular);
}

.button-brown-shadow {
    box-shadow: 0 1.125em 1em -1em var(--clr-brown-bg);
    border: 1px solid var(--clr-brown-bg);
}

.button-brown-shadow:hover {
    background: var(--clr-dark-brown-bg);
}

.button-black-shadow {
    box-shadow: 0 0.7em 1em -1em var(--clr-black-text);
    border: 1px solid var(--clr-purple);
}

.button-black-shadow:hover {
    background: var(--clr-dark-purple-bg);
}

/* checkmark, bubble, exclamation, and bulletin styling */
.checkmark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 15px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark-white {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-mark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 15px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    width: fit-content;
    padding: 10px;
    border-radius: 1rem;
}

.exclamation-style {
    width: 0.5rem;
    height: 0.5rem;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xsmall);
    border: 1px solid var(--clr-lt-brown-text);
    color: var(--clr-lt-brown-text);
}

.bulletin {
    display: flex;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 1.2rem;
    box-shadow: 0 1.125em 1em -1em var(--clr-brown-bg);
    border: 1px solid var(--clr-brown-bg);
    background: var(--clr-brown-bg);
}

.bulletin:hover {
    background-color: var(--clr-dark-purple-bg);
}